:root{
    --background: #0E1821;
    --blue: #98badf;
    --red: #ed735c;
    --green: #cece8d;
    --white: #f0f4ef;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

i:hover{
    transform: none;
    box-shadow: none;
}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    background: var(--background)
}

.admin__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.admin__left{
    width: 20%;
    height: 100%;
    background: radial-gradient(at center center, rgb(152, 186, 223), rgb(206, 206, 141), rgb(152, 186, 223));
    background-size: 100vh;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gasp: calc(1.5px + 1.5vw);
}

.left__option{
    width: 85%;
    padding: calc(1.3px + 1.3vw) calc(1px + 1vw);
    display: flex;
    align-items: center;
    gap: calc(0.5px + 0.5vw);
    cursor: default;
    margisn: calc(1px + 1vw) 0;
}

.left__option:hover{
    background-color: var(--blue);
    border-radius: 10px;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.20);
}

.left__option i{
    font-size: calc(1.3px + 1.3vw);
    color: var(--background);
}

.left__option i:nth-child(1){
    margin-right: calc(0.6px + 0.6vw);
}

.left__option i:nth-child(3){
    font-size: calc(0.8px + 0.8vw);
}

.left__option h1{
    color: var(--background);
    font-size: calc(1.5px + 1.5vw);
}

.menu__item{
    background-coslor: red;
    width: 70%;
    display: none;
    cursor: pointer;
}

.menu__item:hover:not(:last-child){
    background-color: var(--blue);
    border-radius: 10px;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.20);
}

.menu__item h1{
    color: var(--background);
    font-size: calc(1.2px + 1.2vw);
    text-align: center;
    padding: calc(0.5px + 0.5vw) 0;
}

.item{
    margin: calc(0.5px + 0.5vw) 0;
}

.item:hover{
    background-color: var(--blue);
    border-radius: 10px;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.20);
}

.admin__right{
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
}

.users{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5% 0;
}

.users__head, .users__body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.users__head{
    background-color: var(--blue);
    border-radius: 10px;
    display: flex;
    margin: 0 0 calc(1px + 1vw) 0;
    padding: calc(1.5px + 1.5vw) 0;
    gap: calc(1px + 1vw);
}

.users__body{
    background-color: var(--green);
    border-radius: 10px;
    display: flex;
    margin: auto auto;
    padding: calc(1px + 1vw) 0;
    gap: calc(1px + 1vw);
}

.users__head h2, .users__body h2, .users__head button, .users__body button, .users__head i{
    font-size: calc(0.8px + 0.8vw);
    width: calc(5px + 5vw);
    overflow: hidden;
    text-align: center;
}

.users__body form, .users__head form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(6px + 6vw);
    gap: calc(0.7px + 0.7vw);
    color: var(--red);
}

.users__body button, .users__head i{
    background-color: transparent;
    color: var(--red);
    border: none;
    font-size: calc(1px + 1vw);
    width: calc(3px + 3vw);
}

.users__gestion{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5% 0;
}

.gestion__head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    margin: 1% 0;
}

.gestion__body{
    display: flex;
    background-color: var(--green);
    border-radius: 10px;
    margin: auto auto;
    padding: calc(0.7px + 0.7vw) 0;
    gap: calc(1px + 1vw);
}

.gestion__body h2, .gestion__body button{
    font-size: calc(0.8px + 0.8vw);
    width: calc(5.5px + 5.5vw);
    overflow: hidden;
    background-color: transparent;
    border: none;
    text-align: center;
}

.gestion__body i{
    font-size: calc(1px + 1vw);
    color: var(--red);
}

.gestion__body form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(3.5px + 3.5vw);
    gap: calc(0.7px + 0.7vw);
    color: var(--red);
}

.places{
    display: none;
}

.filters{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(3.5px + 3.5vw);
    margin: 5% 0;
}

.filters select{
    background-color: transparent;
    border: none;
    font-size: calc(1.2px + 1.2vw);
    color: var(--blue);
    width: 15%;
    border: 3px solid var(--blue);
    padding: 10px 12px;
    border-radius: 10px;
    outline: none;
}

.filters option{
    margin: auto 0;
    background-color: var(--background);
    border: none;
    outline: none;
}

.filters select:nth-child(4){
    order: 5;
}

.filters select:nth-child(3){
    order: 4;
}

.filters input{
    height: calc(4.3px + 4.3vw);
    width: calc(4.3px + 4.3vw);
    background-image: url(img/magnifiying.png);
    background-repeat: no-repeat;
    background-size: 3.5vw;
    background-color: transparent;
    background-position: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.filters a{
    text-decoration: none;
    color: var(--red);
    font-size: calc(2.8px + 2.8vw);
}

.container{
    margin: 1%;
}

.cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
}

.card{
    /*background-color: var(--white);*/
    background: radial-gradient(at center center, rgb(152, 186, 223), rgb(206, 206, 141), rgb(152, 186, 223));
    background-position: center center;
    width: 25%;
    height: calc(23px + 23vw);
    border-radius: 7px;
    margin: 2.5% 0;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.card__img{
    width: 100%;
    height: 65%;
}

.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card__info{
    min-height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: calc(0.5px + 0.5vw);
    
}

.card__info h2{
    color: var(--background);
    font-weight: bold;
    font-size: calc(1.7px + 1.7vw);
}

.card__info__stars i{
    color: var(--background);
    font-size: calc(1.1px + 1.1vw);
}

.delete, .deleteRequest{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background-color: var(--white);
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.acceptRequest{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 50px 10px 10px;
    background-color: var(--white);
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.delete i, .deleteRequest i, .acceptRequest i{
    font-size: calc(1.5px + 1.5vw);
    color: var(--red);
}

.pagination {
    text-align: center;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination li {
    margin: calc(1px + 1vw);
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
    text-decoration: none;
    list-style: none;
    width: 5%;
    height: calc(3px + 3vw);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination li a {
    color: var(--background);
    text-decoration: none;
    font-size: calc(8px + 8px);
    text-align: center;
}

.previous-page,
.next-page {
    background: var(--blue);
    margin: auto 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.previous-page:hover {
    transform: translateX(-10px);
}

.next-page:hover {
    transform: translateX(10px);
}

.current-page,
.dots {
    background: #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.active {
    background: var(--blue);
}

.disable {
    background: #ccc;
}

.newplace{
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: calc(1.5px + 1.5vw);
    gap: 2%;
    border-radius: 0.4em;
    position: relative;
    z-index: 99;
    display: none;
}

.newplace__restaurant{
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: calc(1.5px + 1.5vw);
    gap: 2%;
    border-radius: 0.4em;
    position: relative;
    z-index: 99;
    display: none;
}

.send{
    padding: calc(0.5px + 0.5vw) calc(1px + 1vw);
    background-color: var(--red);
    border: none;
    color: var(--white);
    margin: 0 calc(1px + 1vw);
    font-size: calc(1.1px + 1.1vw);
    border-radius: 0.1em;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.40);
}

.close__newplace{
    position: absolute;
    top: 0;
    right: 0;
    margin: calc(1px + 1vw);
    font-size: calc(1.5px + 1.5vw);
    color: var(--background);
    cursor: pointer;
}

.newplace__img{
    width: 100%;
    height: 55%;
    overflow-y: scroll;
}

.newplace__img input[type="file"] {
    display: none;
}

.newplace__img label {
    display: block;
    position: relative;
    background-color: var(--red);
    color: var(--white);
    border-radius: 0.3em;
    font-size: calc(1.1px + 1.1vw);
    text-align: center;
    width: 80%;
    padding: calc(1px + 1vw) 0;
    margin: calc(1px + 1vw) auto 0 auto;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.40);
}

.newplace__img p{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    font-size: calc(0.9px + 0.9vw);
    color: var(--background);
    margin-top: calc(0.5px + 0.5vw);
}

#image-display {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(1px + 1vw);
    margin: calc(1px + 1vw) auto;
}

#image-displayR {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(1px + 1vw);
    margin: calc(1px + 1vw) auto;
}

#image-displayR figure {
    width: 45%;
}

#image-displayR img {
    width: 100%;
}

#image-displayR figcaption {
    font-size: 0.8em;
    text-align: center;
    color: #5a5861;
}

#image-display figure {
    width: 45%;
}

#image-display img {
    width: 100%;
}

#image-display figcaption {
    font-size: 0.8em;
    text-align: center;
    color: #5a5861;
}

.activee {
    border: 0.2em dashed #025bee;
}

#error {
    text-align: center;
    color: #ff3030;
}

.newplace__info{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: calc(1.7px + 1.7vw);
    padding-top: calc(1px + 1vw);
    margin: auto 0;
}

.newplace__info input::placeholder{
    color: var(--white);
}

.input__field {
    position: relative;
    margin: 0;
    padding: 0;
}

.input__field input, .input__field select{
    border: 2px solid var(--white);
    color: var(--white);
    background-color: transparent;
    font-family: 'Prompt', sans-serif;
    padding: calc(0.5px + 0.5vw) calc(0.5px + 0.5vw);
    border-radius: 7px;
    font-size: calc(1px + 1vw);
    width: calc(25px + 25vw);
}

.input__field select{
    outline: none;
}

.input__field option{
    color: var(--background);
}

.input__field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--white);
    font-size: calc(1px + 1vw);
    pointer-events: none;
    transition: 0.3s;
}

.input__field input:focus, .input__field select:focus {
    border: 2px solid var(--red);
}

.input__field input:focus~label,
.input__field input:valid~label {
    top: -10px;
    left: 0;
    font-size: calc(1px + 1vw);
    padding: 0 2px;
    color: var(--red);
}

.new__place{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: calc(4px + 4vw);
    margin: 1%;
    color: var(--white);
    cursor: pointer;
    z-index: 99;
}

.newplace__info input[type="submit"]{
    padding: calc(0.4px + 0.4vw) calc(1.7px + 1.7vw);
    border-radius: 15px;
    border: none;
    background-color: var(--red);
    color: var(--white);
    font-size: calc(1px + 1vw);
    font-family: 'Prompt', sans-serif;
    margin: 0 0 0 400px;
    cursor: pointer;
    transition: 0.2s;
}

.newplace__info input[type="submit"]:hover{
    background-color: var(--red);
    color: var(--background);
    font-weight: bold;
}

.place__body__right{
    padding: 5% 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.restaurants{
    display: none;
}

.body__restaurant{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: calc(2px + 2vw);
    margin: 0 10%;
    position: relative;
}

.body__restaurant img{
    height: calc(14px + 14vw);
    width: calc(12px + 12vw);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
}

.body__restaurant h2{
    font-size: calc(1.7px + 1.7vw);
    margin: 0;
    color: var(--white);
    max-width: 350px;
    text-shadow: 0px 0px 30px rgba(0,0,0,0.7);
}

.restaurant__place{
    margin-left: 30px;
    min-width: 250px;
}

.restaurant__place h1{
    color: var(--red);
    font-size: calc(2.5px + 2.5vw);
}

.circle{
    position: absolute;
    height: calc(4px + 4vw);
    width: calc(4px + 4vw);
    border-radius: 50%;
    top: 0;
    border: dotted var(--white) 5px;
}

.restaurant__info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deleteRes{
    position: absolute;
    bottom: 50px;
    right: 0;
    margin: 10px;
    background-color: var(--red);
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.users__notifications{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    display: none;
}

.users__notifications h1{
    color: var(--red);
}

.users__notifications textarea{
    background-color: transparent;
    border: 2px solid var(--white);
    resize: none;
    width: 40%;
    height: 150px;
    outline: none;
    color: var(--white);
    padding: 20px;
    border-radius: 10px;
    font-family: 'Prompt', sans-serif;
}

.users__notifications input{
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 10px;
    color: var(--white);
    padding: 8px 15px;
    font-family: 'Prompt', sans-serif;
}

.comments{
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(2px + 2vw) 0;
    gap: calc(0.8px + 0.8vw);
}

.title__comments{
    color: var(--red);
    text-transform: uppercase;
}

.slider{
    width: 85%;
}

.slider-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: calc(1px + 1vw);
}

.slider-nav li {
    display: flex;
    flex: 2;
    text-align: center;
}

.slider__container{
    display: none;
    gap: calc(0.5px + 0.5vw);
}

.slider__container.active {
    display: flex;
    flex-direction: column;
    animation: fadeImg 0.8s;
    gap: calc(0.5px + 0.5vw);
}

.slider__user{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: calc(0.7px + 0.7vw);
    position: relative;
    cursor: pointer;
}

.slider__user:hover > .user__info{
    display: block;
}

.slider__user img{
    height: calc(2.5px + 2.5vw);
    filter: invert(59%) sepia(48%) saturate(755%) hue-rotate(318deg) brightness(91%) contrast(104%);
}

.slider__user h2{
    font-size: calc(1.5px + 1.5vw);
    color: var(--red);
}

.user__info{
    display: none;
    position: absolute;
    top: -200%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 75% 87%, 6% 87%, 0 100%);
    background-color: var(--green);
    min-width: calc(12px + 12vw);
    min-height: calc(4px + 4vw);
    padding: 1% 2%;
}

.user__info h3{
    color: var(--red);
    font-size: calc(1.1px + 1.1vw);
}

.info__points{
    display: flex;
    align-items: center;
    gap: 3%;
    font-size: calc(1px + 1vw);
    color: var(--background);
}

.slider__text p{
    font-size: calc(1.1px + 1.1vw);
    color: var(--white);
}

.arrow button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    color: var(--white);
    font-size: calc(1.5px + 1.5vw);
}

.arrow button span {
    position: relative;
    display: inline-block;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.previous:hover span {
    transform: translateX(-10px) scale(1);
}

.next:hover span {
    transform: translateX(10px) scale(1);
}

.slider-nav .arrow {
    flex: 0 0 15%;
}

.slider-nav a {
    flex-basis: 100%;
    display: flex;
    align-items: center;
}

.slider-nav span {
    display: block;
    width: 100%;
}

@keyframes fadeImg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.review__comment{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0  0 calc(1px + 1vw) 0;
}

.review__comment input[type="text"]{
    border: 2px solid var(--red);
    background-color: transparent;
    font-family: 'Prompt', sans-serif;
    padding: calc(0.7px + 0.7vw);
    border-radius: 7px;
    font-size: calc(1.1px + 1.1vw);
    width: 77%;
    color: var(--white);
}

.review__comment input[type="text"]::placeholder{
    color: #e5a295;
}

.review__comment input[type="submit"]{
    height: calc(4.3px + 4.3vw);
    width: calc(4.3px + 4.3vw);
    background-image: url(img/send.png);
    background-repeat: no-repeat;
    background-size: 2.8vw;
    background-color: transparent;
    background-position: center center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.requests{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    display: none;
}

.showFlex{
    display: flex;
}

.showw{
    display: flex;
}

.show{
    display: block;
}