:root{
    --background: #0E1821;
    --blue: #98badf;
    --red: #ed735c;
    --green: #cece8d;
    --white: #f0f4ef;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

i:hover{
    transform: none;
    box-shadow: none;
}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    background: radial-gradient(at center center, rgb(14, 24, 33), rgb(41, 65, 85));
    background-position: 100vh;
}

/*  HEADER */
.header {
    width: 100%;
    height: 15vh;
    position: absolute;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    colsor: rgb(186, 196, 200);
}

.header__logo{
    width: 10%;
    margin: calc(1px + 1vw);
}

.header__logo img{
    height: calc(6px + 6vw);
    filter: brightness(0) saturate(100%) invert(95%) sepia(8%) saturate(192%) hue-rotate(68deg) brightness(104%) contrast(91%);
}

.header__options{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: calc(1px + 1vw);
    width: 10%;
    z-index: 120;
}

.showMenu{
    font-size: calc(3px + 3vw);
    color: var(--white);
    cursor: pointer;
}

.black{
    color: var(--background);
    position: fixed;
}

.options__menu{
    background: radial-gradient(at center center, rgb(152, 186, 223), rgb(206, 206, 141), rgb(152, 186, 223));
    background-size: 100vh;
    position: fixed;
    width: 20%;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    gasp: calc(0.5px + 0.5vw);
    z-index: 99;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.60);
    padding-top: 15vh;
    overflow-y: scroll;
}

.option{
    display: flex;
    align-items: center;
    margin: calc(1px + 1vw);
    gap: calc(0.7px + 0.7vw);
    cursor: default;
}

.option:hover > i, .option:hover > h3, .option:hover > a, .option button:hover > i, .option:hover > button i, .option__title:hover > i, .option__title:hover > h3{
    color: var(--red);
}

.option i{
    font-size: calc(1.5px + 1.5vw);
    color: var(--background);
}

.option h3, .option a{
    color: var(--background);
    font-size: calc(1.5px + 1.5vw);
    font-weight: bold;
}

.notifications{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: calc(1px + 1vw);
    padding-top: calc(0.5px + 0.5vw);
}

.option__title{
    display: flex;
    align-items: center;
    gap: calc(0.7px + 0.7vw);
    position: relative;
    width: 100%;
}

.option__title i:nth-child(3){
    position: absolute;
    right: 0;
}

.link{
    position: relative;
}

.link a{
    cursor: default;
}

.link button:nth-child(3){
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
}

.option__info__container{
    display: flex;
    flex-direction: column;
    gap: calc(1px + 1vw);
}

.hide{
    display: none;
}

.option__info{
    background-color: var(--blue);
    border-radius: 10px;
    padding: calc(1px + 1vw);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
    position: relative;
}

.option__info h4{
    color: var(--red);
    font-size: calc(1.1px + 1.1vw);
}

.option__info p{
    color: var(--background);
    font-size: calc(0.9px + 0.9vw);
}

.option__info button{
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: calc(0.5px + 0.5vw);
    outline: none;
}

.option__info button i{
    font-size: calc(1.1px + 1.1vw);
    color: var(--red);
}

.options__menu::-webkit-scrollbar {
    background-color: var(--blue);
    width: 100%;
}

.show{
    display: flex;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}
  
.option label {
    cursor: default;
    text-indent: -9999px;
    width: 100px;
    height: 50px;
    background: var(--blue);
    display: flex;
    align-items: center;
    border-radius: 90px;
    position: relative;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.45);
}
  
.option label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 45px;
    height: 40px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Bandera_de_Espa%C3%B1a.svg/1200px-Bandera_de_Espa%C3%B1a.svg.png');
    background-size: cover;
    background-position: center center;
    border-radius: 90px;
    transition: 0.3s;
}
  
input:checked + label {
    background: var(--green);
}
  
input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg/1200px-Flag_of_the_United_Kingdom_%281-2%29.svg.png');
    background-size: cover;
    background-position: center center;
}

.header__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: calc(3px + 3vw);
}

.header__li{
    text-decoration: none;
    appearance: none;
    color: var(--white);
    font-size: calc(2px + 2vw);
    font-weight: 600;
    background-color: transparent;
    border: none;
    font-family: 'Prompt', sans-serif;
    cursor: pointer;
}

.header__li:hover{
    color: var(--red);
}

/* HERO */

.invisible{
    display: none;
}

.visible{
    display: flex;
}

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero__container svg{
    height: calc(30px + 30vw);
}

.hero__text{
    position: absolute;
    margin: auto;
    height: calc(30px + 30vw);
}

.hero__button{
    background-color: var(--red);
    border: none;
    border-radius: 20px;
    width: 30%;
    font-weight: bold;
    padding: calc(1.5px + 1.5vw);
    font-size: calc(1.5px + 1.5vw);
    color: var(--white);
    text-align: center;
    cursor: pointer;
    z-index: 99;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.40);
    transition: .3s;
}

.hero__button:hover{
    background-color: #d65f47;
}

.red__button{
    background-color: var(--red);
    color: var(--white);
}

.hero__search{
    display: none;
    justify-content: center;
    align-items: center;
    gap: calc(3px + 3vw);
}

.hero__search input[type="search"]{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--blue);
    font-size: calc(1.4px + 1.4vw);
    padding: calc(0.5px + 0.5vw) 0;
    color: var(--white);
}

.hero__search input[type="search"]:nth-child(2){
    order: 3;
}

.hero__search input[type="submit"]{
    height: calc(4.3px + 4.3vw);
    width: calc(4.3px + 4.3vw);
    background-image: url(../img/magnifiying.png);
    background-repeat: no-repeat;
    background-size: 3.5vw;
    background-color: transparent;
    background-position: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}


/* BUBBLE */

.blob-motion {
    position: absolute;
    transform: translateY(-20%);
    z-index: 0;
}


.body__squares{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(2px + 2vw);
}

.square{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(0.5px + 0.5vw);
    background-color: var(--blue);
    padding: calc(1px + 1vw);
    border-radius: 1em;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.55);
}

.square__title{
    display: flex;
    align-items: center;
    height: 30%;
    gap: calc(0.5px + 0.5vw);
    font-size: calc(1px + 1vw);
    color: var(--background);
}

.square p{
    text-align: left;
    colsor: var(--background);
}


.body__info{
    width: 85%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
}

.body__info__img{
    width: 60%;
}

.body__info__img img{
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

.body__info__text{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: calc(1px + 1vw);
}

.body__info__text h1{
    margin: 0 10%;
    font-size: calc(2.5px + 2.5vw);
    color: var(--red);
}

.body__info__text p{
    margin: 0 10%;
    font-size: calc(1.2px + 1.2vw);
    color: var(--white);
}

.body__title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(at center center, rgb(152, 186, 223), rgb(206, 206, 141), rgb(152, 186, 223));
    background-size: 130vh;
    padding: calc(4px + 4vw) 0;
    gap: calc(0.5px + 0.5vw);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.55);
}

.body__title h1{
    font-size: calc(3px + 3vw);
    color: var(--background);
    font-weight: bold;
}

.body__title img{
    height: calc(5px + 5vw);
}



.loader__container{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: radial-gradient(at left center, rgb(14, 24, 33), rgb(41, 65, 85));
}

.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}

.loader:before {
    animation: ball1 1s infinite;
    background-color: var(--red);
    box-shadow: 30px 0 0 var(--white);
    margin-bottom: 10px;
}

.loader:after {
    animation: ball2 1s infinite;
    background-color: var(--blue);
    box-shadow: 30px 0 0 var(--green);
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }

    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }

    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 var(--white);
    }

    50% {
        box-shadow: 0 0 0 var(--white);
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 var(--white);
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 var(--green);
    }

    50% {
        box-shadow: 0 0 0 var(--green);
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 var(--green);
        margin-top: 0;
    }
}



/* MOBILE */
@media screen and (max-width: 480px) {
    .header__button {
        display: block;
    }

    .header__nav {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        opacity: 0;
        height: 0vh;
        overflow: hidden;
        transition: all 0.5s ease;
    }

    .header__nav--activo {
        opacity: 1;
        height: 50vh;
    }

    .header__ul {
        flex-direction: column;
    }

    .header__li {
        margin: 1em 0;
    }
}

.areaC{
    backgsround: #4e54c8;  
    backgrosund: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height: 100vh;
    position: absolute;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(237, 115, 92, 0.7);
    animation: animateC 25s linear infinite;
    bottom: -150px;
    z-index: -1;
    filter: blur(40px);
    opacity: 0.8;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 60px;
    height: 60px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 80%;
    width: 80px;
    height: 80px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 55%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 13s;
}

.circles li:nth-child(6){
    left: 60%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 120px;
    height: 120px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 110px;
    height: 110px;
    animation-delay: 15s;
    animation-duration: 20s;
}

.circles li:nth-child(9){
    left: 10%;
    width: 100px;
    height: 100px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation-duration: 15s;
}

hr{
    border: 0;
    height: 5px;
    colosr: rgb(237, 115, 92);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(237, 115, 92), rgba(0, 0, 0, 0));
}

@keyframes animateC {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 100%;
    }

}

.map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(3px + 3vw);
    margin-top: calc(3px + 3vw);
}

.map__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map__info h1{
    font-size: calc(4px + 4vw);
    color: var(--red);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: 0.2px;
}

.map__info p{
    color: var(--white);
    max-width: 50%;
    text-align: center;
    font-size: calc(1.1px + 1.1vw);
}

.map__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrp{
    margin: 0 0 0 325px;
}

.mapimg{
    width: 70%;
    filter: invert(95%) sepia(2%) saturate(2732%) hue-rotate(82deg) brightness(120%) contrast(90%);
}

/* FOOTER */

.footer {
    position: relative;
    background: var(--blue);
    min-height: 70px;
    padding: 15px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: calc(10px + 10vw);
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    gap: 15px;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 1.8rem;
    color: var(--background);
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
    color: var(--red);
}

.menu__link {
    font-size: 1.1rem;
    color: var(--background);
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    font-weight: 500;
}

.menu__link:hover {
    opacity: 1;
    color: var(--red);
}

/*::-webkit-scrollbar {
    background-color: var(--blue);
    width: 100%;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}*/

/* TABLET */
@media only screen and (min-width: 768px){

}


/* DESKTOP */
@media only screen and (min-width: 1024px){

}



