:root{
    --background: #0E1821;
    --blue: #98badf;
    --red: #ed735c;
    --green: #cece8d;
    --white: #f0f4ef;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

i:hover{
    transform: none;
    box-shadow: none;
}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    background: radial-gradient(at left center, rgb(14, 24, 33), rgb(41, 65, 85));
    background-position: 100vh;
}

/*  HEADER */
.header {
    width: 100%;
    height: 15vh;
    position: absolute;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    colsor: rgb(186, 196, 200);
}

.header__logo{
    width: 10%;
    margin: calc(1px + 1vw);
}

.header__logo img{
    height: calc(6px + 6vw);
}

.header__options{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: calc(1px + 1vw);
    width: 10%;
    z-index: 120;
}

.showMenu{
    font-size: calc(3px + 3vw);
    color: var(--white);
    cursor: pointer;
}

.black{
    color: var(--background);
    position: fixed;
}

.options__menu{
    background: radial-gradient(at center center, rgb(152, 186, 223), rgb(206, 206, 141), rgb(152, 186, 223));
    background-size: 100vh;
    position: fixed;
    width: 20%;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    gasp: calc(0.5px + 0.5vw);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.60);
    padding-top: 15vh;
    z-index: 99;
}

.option{
    display: flex;
    align-items: center;
    margin: calc(1px + 1vw);
    gap: calc(0.7px + 0.7vw);
    cursor: default;
}

.option:hover > i, .option:hover > h3, .option__title:hover > i, .option__title:hover > h3{
    color: var(--red);
}

.option i{
    font-size: calc(1.5px + 1.5vw);
    color: var(--background);
}

.option h3{
    color: var(--background);
    font-size: calc(1.5px + 1.5vw);
}

.notifications{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: calc(1px + 1vw);
    padding-top: calc(0.5px + 0.5vw);
}

.option__title{
    display: flex;
    align-items: center;
    gap: calc(0.7px + 0.7vw);
}

.option__title i:nth-child(3){
    margin-left: 15%;
    cursor: pointer;
}

.option__info__container{
    display: flex;
    flex-direction: column;
    gap: calc(1px + 1vw);
}

.hide{
    display: none;
}

.option__info{
    background-color: var(--blue);
    border-radius: 10px;
    padding: calc(1px + 1vw);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
    position: relative;
}

.option__info h4{
    color: var(--red);
    font-size: calc(1.1px + 1.1vw);
}

.option__info p{
    color: var(--background);
    font-size: calc(0.9px + 0.9vw);
}

.option__info i{
    position: absolute;
    right: 0;
    top: 0;
    font-size: calc(1.1px + 1.1vw);
    margin: calc(0.5px + 0.5vw);
    color: var(--red);
}

.show{
    display: flex;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}
  
.option label{
    cursor: default;
    text-indent: -9999px;
    width: 100px;
    height: 50px;
    background: var(--blue);
    display: flex;
    align-items: center;
    border-radius: 90px;
    position: relative;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.45);
}
  
.option label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 45px;
    height: 40px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Bandera_de_Espa%C3%B1a.svg/1200px-Bandera_de_Espa%C3%B1a.svg.png');
    background-size: cover;
    background-position: center center;
    border-radius: 90px;
    transition: 0.3s;
}
  
input:checked + label {
    background: var(--green);
}
  
input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg/1200px-Flag_of_the_United_Kingdom_%281-2%29.svg.png');
    background-size: cover;
    background-position: center center;
}

.header__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: calc(3px + 3vw);
}

.header__li{
    text-decoration: none;
    appearance: none;
    color: var(--white);
    font-size: calc(2px + 2vw);
    font-weight: 600;
    background-color: transparent;
    border: none;
    font-family: 'Prompt', sans-serif;
    cursor: pointer;
}

.header__li:hover{
    color: var(--red);
}

/* HERO */

.place__hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.place__hero__text{
    width: 37%;
    padding: 0 0  0 3%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: calc(0.7px + 0.7vw);
}

.place__hero__text h1{
    max-width: 70%;
    line-height: 110%;
    margin: 0;
    font-size: calc(3px + 3vw);
    color: var(--red);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: 0.2px;
}

.place__hero__text p{
    max-width: 80%;
    margin: 0;
    color: var(--white);
    font-size: calc(1.2px + 1.2vw);
}

.hero__text__button{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5%;
}

.hero__text__button i, .hero__text__button button{
    font-size: calc(1.7px + 1.7vw); 
    color: var(--white);
    background-color: transparent;
    border: none;
}

.place__hero__img{
    width: 60%;
    height: 100vh;
    background: radial-gradient(at center center, rgb(152, 186, 223), rgb(206, 206, 141), rgb(152, 186, 223));
    background-size: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.hero__img{
    height: calc(22px + 22vw);
    width: calc(16px + 16vw);
    object-fit: cover;
    border-radius: 5px;
    transition: .4s ease-in-out;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.60);
}

.one{
    height: calc(27px + 27vw);
    order: -1;
}

.hero__img:hover{
    height: calc(27px + 27vw);
}

.hero__img:hover ~ .one{
    height: calc(22px + 22vw);
}

/* BODY */

.place__body{
    display: flex;
    width: 100%;
}

.place__body__left{
    width: 40%;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    gap: calc(2px + 2vw);
}

.place__body__right{
    width: 60%;
    padding: 5% 0;
    background: radial-gradient(at center center, rgb(152, 186, 223), rgb(206, 206, 141), rgb(152, 186, 223));
    background-size: 100vh;
    position: relative;
}

.line{
    position: absolute;
    right: 0;
    width: 50%;
    height: calc(0.4px + 0.4vw);
    border-radius: 10px;
    background-color: var(--background);
    margin: 0 5%;
    z-index: 98;
}

.body__restaurant{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(1px + 1vw);
    margin: 0 10%;
    text-align: center;
    position: relative;
}

.body__restaurant img{
    height: calc(16px + 16vw);
    width: calc(14px + 14vw);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
}

.body__restaurant h2{
    font-size: calc(1.7px + 1.7vw);
    margin: 0;
    color: var(--background);
    text-shadow: 0px 0px 30px rgba(0,0,0,0.7);
}

.body__restaurant:nth-child(2n+1){
    align-items: start;
}

.body__restaurant:nth-child(2n){
    align-items: end;
}

.circle{
    position: absolute;
    height: calc(4px + 4vw);
    width: calc(4px + 4vw);
    border-radius: 50%;
    top: 0;
    border: dotted var(--background) 5px;
}


.body__left__map{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body__left__map iframe{
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 50px 0px;
    height: calc(33px + 33vw);
    width: 85%;
}

.body__left__review{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(2px + 2vw) 0;
    gap: calc(0.8px + 0.8vw);
}

.slider{
    width: 85%;
}

.slider-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: calc(1px + 1vw);
}

.slider-nav li {
    display: flex;
    flex: 2;
    text-align: center;
}

.slider__container{
    display: none;
    gap: calc(0.5px + 0.5vw);
}

.slider__container.active {
    display: flex;
    flex-direction: column;
    animation: fadeImg 0.8s;
    gap: calc(0.5px + 0.5vw);
}

.slider__user{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: calc(0.7px + 0.7vw);
    position: relative;
    cursor: pointer;
}

.slider__user:hover > .user__info{
    display: block;
}

.slider__user img{
    height: calc(2.5px + 2.5vw);
    filter: invert(59%) sepia(48%) saturate(755%) hue-rotate(318deg) brightness(91%) contrast(104%);
}

.slider__user h2{
    font-size: calc(1.5px + 1.5vw);
    color: var(--red);
}

.user__info{
    display: none;
    position: absolute;
    top: -200%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 75% 87%, 6% 87%, 0 100%);
    background-color: var(--green);
    min-width: calc(12px + 12vw);
    min-height: calc(4px + 4vw);
    padding: 1% 2%;
}

.user__info h3{
    color: var(--red);
    font-size: calc(1.1px + 1.1vw);
}

.info__points{
    display: flex;
    align-items: center;
    gap: 3%;
    font-size: calc(1px + 1vw);
    color: var(--background);
}

.slider__text p{
    font-size: calc(1.1px + 1.1vw);
    color: var(--white);
}

.arrow button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    color: var(--white);
    font-size: calc(1.5px + 1.5vw);
}

.arrow button span {
    position: relative;
    display: inline-block;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.previous:hover span {
    transform: translateX(-10px) scale(1);
}

.next:hover span {
    transform: translateX(10px) scale(1);
}

.slider-nav .arrow {
    flex: 0 0 15%;
}

.slider-nav a {
    flex-basis: 100%;
    display: flex;
    align-items: center;
}

.slider-nav span {
    display: block;
    width: 100%;
}

@keyframes fadeImg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.review__comment{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0  0 calc(1px + 1vw) 0;
}

.review__comment input[type="text"]{
    border: 2px solid var(--red);
    background-color: transparent;
    font-family: 'Prompt', sans-serif;
    padding: calc(0.7px + 0.7vw);
    border-radius: 7px;
    font-size: calc(1.1px + 1.1vw);
    width: 77%;
    color: var(--white);
}

.review__comment input[type="text"]::placeholder{
    color: #e5a295;
}

.review__comment input[type="submit"]{
    height: calc(4.3px + 4.3vw);
    width: calc(4.3px + 4.3vw);
    background-image: url(img/send.png);
    background-repeat: no-repeat;
    background-size: 2.8vw;
    background-color: transparent;
    background-position: center center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.body__left__route{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body__left__route a{
    width: 85%;
}

.route{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    gap: calc(1.2px + 1.2vw);
    padding: calc(1px + 1vw);
    color: var(--background);
    border-radius: 10px;
}

.route:hover{
    background-color: #719ece;
}

.route i{
    font-size: calc(1.7px + 1.7vw);
}

.route h2{
    font-size: calc(1.4px + 1.4vw);
}

.popup__container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 99;
    justify-content: center;
    align-items: center;
}

.visible{
    display: flex;
}

.popup{
    position: absolute;
    min-height: 45%;
    min-height: 30%;
    width: 35%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(1.1px + 1.1vw);
    border-radius: 7px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    padding: calc(1.5px + 1.5vw) 0;
}

.popup h2{
    color: var(--red);
    font-size: calc(1.6px + 1.6vw);
    width: 80%;
    text-align: center;
    margin-bottom: calc(1px + 1vw);
}

.collections__container{
    display: flex;
    flex-direction: column;
    gap: calc(1.1px + 1.1vw);
}

.collections{
    padding: calc(0.7px + 0.7vw) calc(2.7px + 2.7vw);
    min-width: calc(15px + 15vw);
    border: none;
    background-color: var(--background);
    color: var(--white);
    border-radius: 7px;
    font-size: calc(1.2px + 1.2vw);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.40);
}

.invisiblew{
    display: none;
}

.new{
    border: 2px solid var(--background);
    border-radius: 50%;
    padding: calc(0.5px + 0.5vw) calc(0.6px + 0.6vw);
}

.closePop{
    position: absolute;
    top: 0;
    right: 0;
    margin: calc(1px + 1vw);
    font-size: calc(1.5px + 1.5vw);
}


.popup__field {
    position: relative;
    align-items: center;
    gap: calc(1px + 1vw);
    display: none;
}

.visiblew{
    display: flex;
}

.popup__field input[type="text"] {
    border: 2px solid var(--background);
    background-color: transparent;
    font-family: 'Prompt', sans-serif;
    padding: calc(0.5px + 0.5vw) calc(0.5px + 0.5vw);
    border-radius: 7px;
    font-size: calc(1px + 1vw);
}

.label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--background);
    font-size: calc(1px + 1vw);
    pointer-events: none;
    transition: 0.3s;
}

.popup__field i{
    position: absolute;
    right: 10px;
}

.popup__field input[type="text"]:focus {
    border: 2px solid var(--background);
}

.popup__field input[type="text"]:focus~i{
    color: var(--background);
}

.popup__field input[type="text"]:focus~.label {
    top: -10px;
    left: 0;
    font-size: calc(1px + 1vw);
    padding: 0 2px;
    color: var(--background);
}

.popup__field input[type="submit"]{
    padding: calc(0.5px + 0.5vw) calc(0.9px + 0.9vw);
    border-radius: 15px;
    border: none;
    background-color: var(--background);
    color: var(--white);
    font-size: calc(1px + 1vw);
    font-family: 'Prompt', sans-serif;
    margin: 0;
    cursor: pointer;
    transition: 0.2s;
}


.loader__container{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: radial-gradient(at left center, rgb(14, 24, 33), rgb(41, 65, 85));
}

.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}

.loader:before {
    animation: ball1 1s infinite;
    background-color: var(--red);
    box-shadow: 30px 0 0 var(--white);
    margin-bottom: 10px;
}

.loader:after {
    animation: ball2 1s infinite;
    background-color: var(--blue);
    box-shadow: 30px 0 0 var(--green);
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }

    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }

    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 var(--white);
    }

    50% {
        box-shadow: 0 0 0 var(--white);
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 var(--white);
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 var(--green);
    }

    50% {
        box-shadow: 0 0 0 var(--green);
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 var(--green);
        margin-top: 0;
    }
}

.notice__container{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 99;
    display: flex;
    align-items: end;
}

.notice{
    width: 100%;
    height: 12vh;
    background-color: var(--green);
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    color: var(--background);
    font-weight: bold;
    font-size: calc(1.5px + 1.5vw);
    padding-left: calc(1px + 1vw);
}

.notice i{
    position: absolute;
    top: 0;
    right: 0;
    margin: calc(1px + 1vw);
}

.invisiblee{
    display: none;
}