:root{
    --background: #0E1821;
    --blue: #98badf;
    --red: #ed735c;
    --green: #cece8d;
    --white: #f0f4ef;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    background: radial-gradient(at center center, rgb(14, 24, 33), rgb(41, 65, 85));
    background-position: 100vh;
    overflow: hidden;
}

/*  HEADER */
.header {
    width: 100%;
    height: 15vh;
    positsion: absolute;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(186, 196, 200);
}

.header__logo{
    height: 87%;
    margin: calc(1px + 1vw);
}

.header i{
    margin: calc(1px + 1vw);
    font-size: calc(3px + 3vw);
    color: var(--white);
}

.header__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: calc(3px + 3vw);
}

.header__li {
    text-decoration: none;
    list-style: none;
}

.header__a{
    color: var(--white);
    font-size: calc(1px + 2vw);
    font-weight: bold;
}

/* PROFILE */

.profile__container{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__left{
    width: 65%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left__lately, .left__saved{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(1.5px + 1.5vw);
    margin-left: calc(2px + 2vw);
}

.lately__content, .saved__content{
    display: flex;
    flex-direction: column;
    gap: calc(0.5px + 0.5vw);
}

.profile__right{
    width: 35%;
    height: 85vh;
    background-color: red;
}

.right__info{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right__info img{
    height: calc(8px + 8vw);
    width: calc(8px + 8vw);
    border-radius: 5px;
    background-coslor: brown;
}

.right__edit{
    height: 60%;
}