:root{
    --background: #0E1821;
    --blue: #98badf;
    --red: #ed735c;
    --green: #cece8d;
    --white: #f0f4ef;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
}

a{
    text-decoration: none;
}

i:hover{
    transform: none;
    box-shadow: none;
}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    background: radial-gradient(at center center, rgb(14, 24, 33), rgb(41, 65, 85));
    background-position: 100vh;
    overflow: hidden;
}

/*  HEADER */
.header {
    width: 100%;
    height: 15vh;
    position: relative;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    colsor: rgb(186, 196, 200);
}

.header__logo{
    width: 10%;
    margin: calc(1px + 1vw);
}

.header__logo img{
    height: calc(6px + 6vw);
    filter: brightness(0) saturate(100%) invert(95%) sepia(8%) saturate(192%) hue-rotate(68deg) brightness(104%) contrast(91%);
}

.header__options{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: calc(1px + 1vw);
    width: 10%;
    z-index: 120;
}

.showMenu{
    font-size: calc(3px + 3vw);
    color: var(--white);
    cursor: pointer;
}

.black{
    color: var(--background);
    position: fixed;
}

.options__menu{
    background: radial-gradient(at center center, rgb(152, 186, 223), rgb(206, 206, 141), rgb(152, 186, 223));
    background-size: 100vh;
    position: fixed;
    width: 20%;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    gasp: calc(0.5px + 0.5vw);
    z-index: 99;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.60);
    padding-top: 15vh;
}

.option{
    display: flex;
    align-items: center;
    margin: calc(1px + 1vw);
    gap: calc(0.7px + 0.7vw);
    cursor: default;
}

.option:hover > i, .option:hover > h3, .option__title:hover > i, .option__title:hover > h3{
    color: var(--red);
}

.option i{
    font-size: calc(1.5px + 1.5vw);
    color: var(--background);
}

.option h3{
    color: var(--background);
    font-size: calc(1.5px + 1.5vw);
}

.notifications{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: calc(1px + 1vw);
    padding-top: calc(0.5px + 0.5vw);
}

.option__title{
    display: flex;
    align-items: center;
    gap: calc(0.7px + 0.7vw);
}

.option__title i:nth-child(3){
    margin-left: 15%;
    cursor: pointer;
}

.option__info__container{
    display: flex;
    flex-direction: column;
    gap: calc(1px + 1vw);
}

.hide{
    display: none;
}

.option__info{
    background-color: var(--blue);
    border-radius: 10px;
    padding: calc(1px + 1vw);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
    position: relative;
}

.option__info h4{
    color: var(--red);
    font-size: calc(1.1px + 1.1vw);
}

.option__info p{
    color: var(--background);
    font-size: calc(0.9px + 0.9vw);
}

.option__info i{
    position: absolute;
    right: 0;
    top: 0;
    font-size: calc(1.1px + 1.1vw);
    margin: calc(0.5px + 0.5vw);
    color: var(--red);
}

.show{
    display: flex;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}
  
.option label {
    cursor: default;
    text-indent: -9999px;
    width: 100px;
    height: 50px;
    background: var(--blue);
    display: flex;
    align-items: center;
    border-radius: 90px;
    position: relative;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.45);
}
  
.option label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 45px;
    height: 40px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Bandera_de_Espa%C3%B1a.svg/1200px-Bandera_de_Espa%C3%B1a.svg.png');
    background-size: cover;
    background-position: center center;
    border-radius: 90px;
    transition: 0.3s;
}
  
input:checked + label {
    background: var(--green);
}
  
input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg/1200px-Flag_of_the_United_Kingdom_%281-2%29.svg.png');
    background-size: cover;
    background-position: center center;
}

.header__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: calc(3px + 3vw);
}

.header__li{
    text-decoration: none;
    appearance: none;
    color: var(--white);
    font-size: calc(2px + 2vw);
    font-weight: 600;
    background-color: transparent;
    border: none;
    font-family: 'Prompt', sans-serif;
    cursor: pointer;
}

.header__li:hover{
    color: var(--red);
}

/* PROFILE */

.profile__container{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__left{
    width: 65%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newCollection{
    color: var(--background);
    background-color: var(--blue);
    font-size: calc(2.5px + 2.5vw);
    border-radius: 7px;
    border: 3px solid var(--blue);
    cursor: pointer;
    padding: calc(0.5px + 0.5vw);
}

.newCollection:hover{
    background-color: var(--white);
    border: 3px solid var(--white);
    color: var(--background);
}

.left__lately, .left__saved{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(1.5px + 1.5vw);
    margin-left: calc(2px + 2vw);
    margin-right: calc(2px + 2vw);
}

.left__lately h1, .left__saved h1{
    font-size: calc(2.3px + 2.3vw);
    font-weight: bold;
    color: var(--red);
}

.lately__content{
    display: flex;
    flex-direction: column;
    gap: calc(0.5px + 0.5vw);
}

.saved__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(1px + 1vw);
    flex-wrap: wrap;
}

.saved__collection{
    border-radius: 7px;
    padding: calc(0.7px + 0.7vw) calc(2.7px + 2.7vw);
    border: 2px solid var(--white);
    cursor: pointer;
}

.saved__collection:hover{
    background-color: var(--white);
}

.saved__collection:hover > button{
    color: var(--background);
}

.lately__content h2, .saved__collection button{
    font-size: calc(1.6px + 1.6vw);
    color: var(--white);
    font-weight: lighter;
    background: transparent;
    border: none;
    font-family: 'Prompt', sans-serif;
}

.profile__right{
    width: 35%;
    height: 115vh;
    background: radial-gradient(at center center, rgb(152, 186, 223), rgb(206, 206, 141), rgb(152, 186, 223));
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
}

.right__info{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: calc(0.5px + 0.5vw);
}

.right__info__img{
    height: calc(9px + 9vw);
    width: calc(9px + 9vw);
    border-radius: 5px;
    background-color: var(--background);
    color: var(--white);
    font-size: calc(7.5px + 7.5vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right__info h1{
    font-size: calc(1.7px + 1.7vw);
    color: var(--background);
}

.right__info h3{
    font-size: calc(1.2px + 1.2vw);
    font-weight: lighter;
    margin-top: calc(-0.5px + -0.5vw);
    color: var(--background);
}

.right__info button{
    padding: calc(0.4px + 0.4vw) calc(1.7px + 1.7vw);
    border-radius: 15px;
    border: none;
    background-color: var(--background);
    color: var(--white);
    font-size: calc(1px + 1vw);
    font-family: 'Prompt', sans-serif;
    margin: 0;
    cursor: pointer;
    transition: 0.2s;
}

.right__info button:hover{
    background-color: var(--red);
    color: var(--background);
    font-weight: bold;
}

.right__edit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(1.7px + 1.7vw);
    margin: calc(3px + 3vw) auto;
}

.input-field {
    position: relative;
    display: flex;
    align-items: center;
}

.input-field input {
    border: 2px solid var(--background);
    background-color: transparent;
    font-family: 'Prompt', sans-serif;
    padding: calc(0.5px + 0.5vw) calc(0.5px + 0.5vw);
    border-radius: 7px;
    font-size: calc(1px + 1vw);
    width: calc(12px + 12vw);
}

.input-field:nth-child(n+5):nth-child(-n+7) input{
    border: 2px solid var(--background);
    background-color: transparent;
    font-family: 'Prompt', sans-serif;
    padding: calc(0.5px + 0.5vw) calc(0.5px + 0.5vw);
    border-radius: 7px;
    font-size: calc(1px + 1vw);
    width: calc(7.2px + 7.2vw);
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--background);
    font-size: calc(1px + 1vw);
    pointer-events: none;
    transition: 0.3s;
}

.input-field i{
    position: absolute;
    right: 10px;
}

.input-field input[type="number"]::-webkit-inner-spin-button,
.input-field input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
    border: 2px solid var(--red);
}

input:focus~i{
    color: var(--red);
}

input:focus~label {
    top: -10px;
    left: 0;
    font-size: calc(1px + 1vw);
    padding: 0 2px;
    color: var(--red);
}

.right__edit input[type="submit"]{
    padding: calc(0.4px + 0.4vw) calc(1.7px + 1.7vw);
    border-radius: 15px;
    border: none;
    background-color: var(--background);
    color: var(--white);
    font-size: calc(1px + 1vw);
    font-family: 'Prompt', sans-serif;
    margin: 0;
    cursor: pointer;
    transition: 0.2s;
}

.right__edit input[type="submit"]:hover{
    background-color: var(--red);
    color: var(--background);
    font-weight: bold;
}



.right__code{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: radial-gradient(at center center, rgb(152, 186, 223), rgb(206, 206, 141), rgb(152, 186, 223));
    width: 35%;
    height: 115vh;
    z-index: 98;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.see{
    display: flex;
}

.right__code h1{
    max-width: 80%;
    text-align: center;
    font-size: calc(1.5px + 1.5vw);
}

.right__code p{
    max-width: 80%;
    text-align: center;
    font-size: calc(1px + 1vw);
}

.form__code{
    margin-top: calc(1px + 1vw);
}

.form__code input[type="text"]{
    border: 2px solid var(--background);
    background-color: transparent;
    font-family: 'Prompt', sans-serif;
    padding: calc(0.4px + 0.4vw) calc(0.5px + 0.5vw);
    border-radius: 7px;
    font-size: calc(1px + 1vw);
    width: calc(7px + 7vw);
}

.form__code input[type="submit"]{
    padding: calc(0.5px + 0.5vw) calc(1.7px + 1.7vw);
    border-radius: 15px;
    border: none;
    background-color: var(--background);
    color: var(--white);
    font-size: calc(1px + 1vw);
    font-family: 'Prompt', sans-serif;
    margin: 0;
    cursor: pointer;
    transition: 0.2s;
}

.popup__container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 99;
    justify-content: center;
    align-items: center;
    display: flex;
}

.popup{
    position: absolute;
    min-height: 35%;
    width: 35%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(0.5px + 0.5vw);
    border-radius: 7px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
}

.invisiblee{
    display: none;
}

.popup h2{
    color: var(--red);
    font-size: calc(1.7px + 1.7vw);
    width: 90%;
    text-align: center;
}

.popup p{
    color: var(--background);
    font-size: calc(1px + 1vw);
    width: 80%;
    text-align: center;
}

.popup button{
    padding: calc(0.7px + 0.7vw) 0;
    width: calc(6px + 6vw);
    border: none;
    background-color: var(--background);
    color: var(--white);
    border-radius: 7px;
    font-size: calc(1.1px + 1.1vw);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.40);
    text-align: center;
    cursor: pointer;
}

.popup__container__collection{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 99;
    justify-content: center;
    align-items: center;
}

.visible{
    display: flex;
}

.popup__collection{
    position: absolute;
    min-height: 30%;
    width: 35%;
    background: radial-gradient(at center center, rgb(152, 186, 223), rgb(206, 206, 141), rgb(152, 186, 223));
    background-size: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(1.1px + 1.1vw);
    border-radius: 7px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    padding: calc(1.5px + 1.5vw) 0;
}

.popup__collection h2{
    color: var(--red);
    font-size: calc(1.6px + 1.6vw);
    width: 80%;
    text-align: center;
    margin-bottom: calc(1px + 1vw);
}

.collections__container{
    display: flex;
    flex-direction: column;
    gap: calc(1.1px + 1.1vw);
}

.collections{
    padding: calc(0.7px + 0.7vw) calc(2.7px + 2.7vw);
    min-width: calc(15px + 15vw);
    border: none;
    background-color: var(--background);
    color: var(--white);
    border-radius: 7px;
    font-size: calc(1.2px + 1.2vw);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.40);
}

.invisiblew{
    display: none;
}

.new{
    border: 2px solid var(--background);
    border-radius: 50%;
    padding: calc(0.5px + 0.5vw) calc(0.6px + 0.6vw);
}

.closePop{
    position: absolute;
    top: 0;
    right: 0;
    margin: calc(1px + 1vw);
    font-size: calc(1.5px + 1.5vw);
}

.popup__field__collection {
    position: relative;
    align-items: center;
    gap: calc(1px + 1vw);
    displasy: none;
}

.visiblew{
    display: flex;
}

.popup__field__collection input[type="text"] {
    border: 2px solid var(--background);
    background-color: transparent;
    font-family: 'Prompt', sans-serif;
    padding: calc(0.5px + 0.5vw) calc(0.5px + 0.5vw);
    border-radius: 7px;
    font-size: calc(1px + 1vw);
}

.label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--background);
    font-size: calc(1px + 1vw);
    pointer-events: none;
    transition: 0.3s;
}

.popup__field__collection i{
    position: absolute;
    right: 10px;
}

.popup__field__collection input[type="text"]:focus {
    border: 2px solid var(--background);
}

.popup__field__collection input[type="text"]:focus~i{
    color: var(--background);
}

.popup__field__collection input[type="text"]:focus~.label {
    top: -10px;
    left: 0;
    font-size: calc(1px + 1vw);
    padding: 0 2px;
    color: var(--background);
}

.popup__field__collection input[type="submit"]{
    padding: calc(0.5px + 0.5vw) calc(0.9px + 0.9vw);
    border-radius: 15px;
    border: none;
    background-color: var(--background);
    color: var(--white);
    font-size: calc(1px + 1vw);
    font-family: 'Prompt', sans-serif;
    margin: 0;
    cursor: pointer;
    transition: 0.2s;
}



.loader__container{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: radial-gradient(at left center, rgb(14, 24, 33), rgb(41, 65, 85));
}

.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}

.loader:before {
    animation: ball1 1s infinite;
    background-color: var(--red);
    box-shadow: 30px 0 0 var(--white);
    margin-bottom: 10px;
}

.loader:after {
    animation: ball2 1s infinite;
    background-color: var(--blue);
    box-shadow: 30px 0 0 var(--green);
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }

    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }

    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 var(--white);
    }

    50% {
        box-shadow: 0 0 0 var(--white);
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 var(--white);
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 var(--green);
    }

    50% {
        box-shadow: 0 0 0 var(--green);
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 var(--green);
        margin-top: 0;
    }
}

.noData{
    color: #0a1117;
    font-size: calc(1.4px + 1.4vw);
}

