:root{
    --background: #0E1821;
    --blue: #98badf;
    --red: #ed735c;
    --green: #cece8d;
    --white: #f0f4ef;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    background: radial-gradient(at center center, rgb(14, 24, 33), rgb(41, 65, 85));
    background-position: 100vh;
    overflow: hidden;
}

/*  HEADER */
.header {
    width: 100%;
    height: 15vh;
    position: relative;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(186, 196, 200);
    z-index: 99;
}

.header__logo{
    height: 87%;
    margin: calc(1px + 1vw);
}

.header i{
    margin: calc(1px + 1vw);
    font-size: calc(3px + 3vw);
    color: var(--white);
}

.header__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: calc(3px + 3vw);
}

.header__li {
    text-decoration: none;
    list-style: none;
}

.header__a{
    color: var(--white);
    font-size: calc(1px + 2vw);
    font-weight: bold;
}

/* PROFILE */

.profile__container{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__left{
    width: 65%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left__lately, .left__saved{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(1.5px + 1.5vw);
    margin-left: calc(2px + 2vw);
}

.left__lately h1, .left__saved h1{
    font-size: calc(2.3px + 2.3vw);
    font-weight: bold;
    color: var(--red);
}

.lately__content{
    display: flex;
    flex-direction: column;
    gap: calc(0.5px + 0.5vw);
}

.saved__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(1px + 1vw);
}

.saved__content h2{
    padding: calc(0.7px + 0.7vw) calc(2.7px + 2.7vw);
    border: 2px solid var(--white);
    border-radius: 7px;
    cursor: pointer;
}

.lately__content h2, .saved__content h2{
    font-size: calc(1.6px + 1.6vw);
    color: var(--white);
    font-weight: lighter;
}

.profile__right{
    width: 35%;
    height: 115vh;
    background: radial-gradient(at center center, rgb(152, 186, 223), rgb(206, 206, 141), rgb(152, 186, 223));
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
}

.right__info{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: calc(0.5px + 0.5vw);
}

.right__info img{
    height: calc(9px + 9vw);
    width: calc(9px + 9vw);
    border-radius: 5px;
}

.right__info h1{
    font-size: calc(1.7px + 1.7vw);
    color: var(--background);
}

.right__info h3{
    font-size: calc(1.2px + 1.2vw);
    font-weight: lighter;
    margin-top: calc(-0.5px + -0.5vw);
    color: var(--background);
}

.right__info button{
    padding: calc(0.4px + 0.4vw) calc(1.7px + 1.7vw);
    border-radius: 15px;
    border: none;
    background-color: var(--background);
    color: var(--white);
    font-size: calc(1px + 1vw);
    font-family: 'Prompt', sans-serif;
    margin: 0;
    cursor: pointer;
    transition: 0.2s;
}

.right__info button:hover{
    background-color: var(--red);
    color: var(--background);
    font-weight: bold;
}

.right__edit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(1.7px + 1.7vw);
    margin: calc(3px + 3vw) auto;
}

.input-field {
    position: relative;
}

.input-field input {
    border: 2px solid var(--background);
    background-color: transparent;
    font-family: 'Prompt', sans-serif;
    padding: calc(0.5px + 0.5vw) calc(0.5px + 0.5vw);
    border-radius: 7px;
    font-size: calc(1px + 1vw);
    width: calc(12px + 12vw);
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--background);
    font-size: calc(1px + 1vw);
    pointer-events: none;
    transition: 0.3s;
}

input:focus {
    border: 2px solid var(--red);
}

input:focus~label,
input:valid~label {
    top: -10px;
    left: 0;
    font-size: calc(1px + 1vw);
    padding: 0 2px;
    color: var(--red);
}

.right__edit input[type="submit"]{
    padding: calc(0.4px + 0.4vw) calc(1.7px + 1.7vw);
    border-radius: 15px;
    border: none;
    background-color: var(--background);
    color: var(--white);
    font-size: calc(1px + 1vw);
    font-family: 'Prompt', sans-serif;
    margin: 0;
    cursor: pointer;
    transition: 0.2s;
}

.right__edit input[type="submit"]:hover{
    background-color: var(--red);
    color: var(--background);
    font-weight: bold;
}
