:root{
    --background: #0E1821;
    --blue: #98badf;
    --red: #ed735c;
    --green: #cece8d;
    --white: #f0f4ef;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

i:hover{
    transform: none;
    box-shadow: none;
}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    background: radial-gradient(at center center, rgb(14, 24, 33), rgb(41, 65, 85));
    background-position: 100vh;
}

/*  HEADER */
.header {
    width: 100%;
    height: 15vh;
    position: absolute;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    colsor: rgb(186, 196, 200);
}

.header__logo{
    width: 10%;
    margin: calc(1px + 1vw);
}

.header__logo img{
    height: calc(6px + 6vw);
}

.header__options{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: calc(1px + 1vw);
    width: 10%;
    z-index: 120;
}

.showMenu{
    font-size: calc(3px + 3vw);
    color: var(--white);
    cursor: pointer;
}

.black{
    color: var(--background);
    position: fixed;
}

.options__menu{
    background: radial-gradient(at center center, rgb(152, 186, 223), rgb(206, 206, 141), rgb(152, 186, 223));
    background-size: 100vh;
    position: fixed;
    width: 20%;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    gasp: calc(0.5px + 0.5vw);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.60);
    padding-top: 15vh;
    z-index: 99;
}

.option{
    display: flex;
    align-items: center;
    margin: calc(1px + 1vw);
    gap: calc(0.7px + 0.7vw);
    cursor: default;
}

.option:hover > i, .option:hover > h3, .option__title:hover > i, .option__title:hover > h3{
    color: var(--red);
}

.option i{
    font-size: calc(1.5px + 1.5vw);
    color: var(--background);
}

.option h3{
    color: var(--background);
    font-size: calc(1.5px + 1.5vw);
}

.notifications{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: calc(1px + 1vw);
    padding-top: calc(0.5px + 0.5vw);
}

.option__title{
    display: flex;
    align-items: center;
    gap: calc(0.7px + 0.7vw);
}

.option__title i:nth-child(3){
    margin-left: 15%;
    cursor: pointer;
}

.option__info__container{
    display: flex;
    flex-direction: column;
    gap: calc(1px + 1vw);
}

.hide{
    display: none;
}

.option__info{
    background-color: var(--blue);
    border-radius: 10px;
    padding: calc(1px + 1vw);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
    position: relative;
}

.option__info h4{
    color: var(--red);
    font-size: calc(1.1px + 1.1vw);
}

.option__info p{
    color: var(--background);
    font-size: calc(0.9px + 0.9vw);
}

.option__info i{
    position: absolute;
    right: 0;
    top: 0;
    font-size: calc(1.1px + 1.1vw);
    margin: calc(0.5px + 0.5vw);
    color: var(--red);
}

.show{
    display: flex;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}
  
label {
    cursor: default;
    text-indent: -9999px;
    width: 100px;
    height: 50px;
    background: var(--blue);
    display: flex;
    align-items: center;
    border-radius: 90px;
    position: relative;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.45);
}
  
label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 45px;
    height: 40px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Bandera_de_Espa%C3%B1a.svg/1200px-Bandera_de_Espa%C3%B1a.svg.png');
    background-size: cover;
    background-position: center center;
    border-radius: 90px;
    transition: 0.3s;
}
  
input:checked + label {
    background: var(--green);
}
  
input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg/1200px-Flag_of_the_United_Kingdom_%281-2%29.svg.png');
    background-size: cover;
    background-position: center center;
}

.header__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: calc(3px + 3vw);
}

.header__li{
    text-decoration: none;
    appearance: none;
    color: var(--white);
    font-size: calc(2px + 2vw);
    font-weight: 600;
    background-color: transparent;
    border: none;
    font-family: 'Prompt', sans-serif;
    cursor: pointer;
}

.header__li:hover{
    color: var(--red);
}

.user__container{
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(2px + 2vw);
    width: 100%;
    height: 85vh;
}

.user__head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user__head h1{
    font-size: calc(2.3px + 2.3vw);
    color: var(--white);
}

.user__head p{
    font-size: calc(1.4px + 1.4vw);
    color: var(--white);
}

.head__img{
    height: calc(9px + 9vw);
    width: calc(9px + 9vw);
    border-radius: 5px;
    background: radial-gradient(at center center, rgb(152, 186, 223), rgb(206, 206, 141), rgb(152, 186, 223));
    background-size: 100vh;
    color: var(--red);
    font-size: calc(7.5px + 7.5vw);
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(0.5px + 0.5vw);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.60);
    text-transform: uppercase;
}

.head__socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(1px + 1vw);
    margin: calc(1px + 1vw) 0;
}

.head__socials i{
    color: var(--blue);
    font-size: calc(2px + 2vw);
    cursor: pointer;
}

.head__socials i:hover{
    color: var(--red);
}

.user__collections{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(2px + 2vw);
}

.collection{
    border-radius: 7px;
    padding: calc(0.7px + 0.7vw) calc(2.7px + 2.7vw);
    border: 2px solid var(--white);
    cursor: pointer;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.50);
}

.collection:hover{
    background-color: var(--white);
}

.collection:hover > button{
    color: var(--background);
}

.collection button{
    font-size: calc(1.6px + 1.6vw);
    color: var(--white);
    font-weight: lighter;
    background: transparent;
    border: none;
    font-family: 'Prompt', sans-serif;
}

.noData{
    color: var(--background);
    font-size: calc(1.3px + 1.3vw);
}